/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-image: url('/assets/viviyyo.jpg');
}

.padded {
  padding: 10px;
}

.center {
  width: 50%;
  margin: 0 auto;
}